body{
    background-color: rgb(150, 148, 145);
}
h1{
    color: orange;
    font-size: 70px;
    margin-left: 60px;
    margin-top: 50px;
}
label{
    background-color: green ;
    margin-top: 100px;
    margin-left: 100px;
    size: 100px;
}
a{
background-color: rgb(243, 143, 13);
margin-top: 100px;
width: 30px;
margin-left: 1400px;
backdrop-filter: blur(2px) saturate(128%);
-webkit-backdrop-filter: blur(2px) saturate(128%);
height: 880px;
text-align: center;
padding-top: 10px;
font-size: 25px;
margin: 60px;
}
div{
height: 200px;
width: 500px;
}
