div{
    border-color: rgb(255, 136, 0);
    background-color: darkorange;
    margin-top: 250px;
    margin-right: 750px;
    margin-left: 750px ;
    border-radius: 10px;
    height: 150px;
    width: 220px;
}
label{
    border-color: green;
    background-color: green;
    margin-left: 79px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 100;
}

button{
    border-color: rgb(128, 0, 122);
    background-color: blueviolet;
    margin-left: 29px;
    margin-top: 10px;
}

input{

    margin-left: 20px;
    font-size: 100;
}
body{

    background-color: grey;
}